#Fields
public net.minecraft.client.renderer.block.statemap.BlockStateMapper field_178449_b # setBuiltInBlocks
public net.minecraft.client.Minecraft field_175617_aL # modelManager
public net.minecraft.world.chunk.Chunk field_76638_b # precipitationHeightMap

#Methods
public net.minecraft.block.material.Material func_76219_n()Lnet/minecraft/block/material/Material; # setNoPushMobility
public net.minecraft.block.BlockDynamicLiquid func_185698_b(Lnet/minecraft/world/World;)I # getSlopeFindDistance
public net.minecraft.block.BlockDynamicLiquid func_176372_g(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/state/IBlockState;)Z # isBlocked
public net.minecraft.block.BlockDynamicLiquid func_180690_f(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/state/IBlockState;)V # placeStaticBlock
public net.minecraft.block.BlockLiquid func_180688_d(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)V # triggerMixEffects
public net.minecraft.block.BlockLiquid func_189543_a(Lnet/minecraft/world/IBlockAccess;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/state/IBlockState;)Lnet/minecraft/util/math/Vec3d; # getFlow
public net.minecraft.world.chunk.Chunk func_76595_e(II)V # propagateSkylightOcclusion
public net.minecraft.world.chunk.Chunk func_76615_h(III)V # relightBlock